In [1]:
import time
from datetime import datetime as dt

from google.cloud import bigtable
from google.cloud.bigtable import column_family, row_filters

import pandas as pd

from datetime import datetime

import struct

In [2]:
INSTANCE_ID = 'bigtable-1'
TABLE_ID = f'solar_plant_{time.time()}'
TABLE_ID

'solar_plant_1649649909.713123'

### Connect to bigtable

In [3]:
client = bigtable.Client.from_service_account_json('./unbosque-service-account.json', admin = True)

In [4]:
instance = client.instance(INSTANCE_ID)

### Load dataset

In [5]:
p1_gen= pd.read_csv("./data/Plant_1_Generation_Data.csv")
p1_sen= pd.read_csv("./data/Plant_1_Weather_Sensor_Data.csv")
p2_gen= pd.read_csv("./data/Plant_2_Generation_Data.csv")
p2_sen= pd.read_csv("./data/Plant_2_Weather_Sensor_Data.csv")

In [6]:
p1_gen['DATE_TIME']= p1_gen['DATE_TIME'].apply(lambda x: datetime.strptime(x, '%d-%m-%Y %H:%M'))
p1_gen['DATE_TIME']= p1_gen['DATE_TIME'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))
p1_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    68778 non-null  object
 1   PLANT_ID     68778 non-null  int64
 2   SOURCE_KEY   68778 non-null  object
 3   DC_POWER     68778 non-null  float64
 4   AC_POWER     68778 non-null  float64
 5   DAILY_YIELD  68778 non-null  float64
 6   TOTAL_YIELD  68778 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.7+ MB

In [7]:
p1_sen['DATE_TIME']= p1_sen['DATE_TIME'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
p1_sen['DATE_TIME']= p1_sen['DATE_TIME'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))
p1_sen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3182 non-null   object
 1   PLANT_ID             3182 non-null   int64
 2   SOURCE_KEY           3182 non-null   object
 3   AMBIENT_TEMPERATURE  3182 non-null   float64
 4   MODULE_TEMPERATURE   3182 non-null   float64
 5   IRRADIATION          3182 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 149.3+ KB

In [8]:
p2_gen['DATE_TIME']= p2_gen['DATE_TIME'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
p2_gen['DATE_TIME']= p2_gen['DATE_TIME'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))
p2_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67698 entries, 0 to 67697
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    67698 non-null  object
 1   PLANT_ID     67698 non-null  int64
 2   SOURCE_KEY   67698 non-null  object
 3   DC_POWER     67698 non-null  float64
 4   AC_POWER     67698 non-null  float64
 5   DAILY_YIELD  67698 non-null  float64
 6   TOTAL_YIELD  67698 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.6+ MB

In [9]:
p2_sen['DATE_TIME']= p2_sen['DATE_TIME'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
p2_sen['DATE_TIME']= p2_sen['DATE_TIME'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))
p2_sen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3259 entries, 0 to 3258
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3259 non-null   object
 1   PLANT_ID             3259 non-null   int64
 2   SOURCE_KEY           3259 non-null   object
 3   AMBIENT_TEMPERATURE  3259 non-null   float64
 4   MODULE_TEMPERATURE   3259 non-null   float64
 5   IRRADIATION          3259 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 152.9+ KB

In [10]:
p1_gen.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,2020-05-15 00:00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
1,2020-05-15 00:00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0
2,2020-05-15 00:00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0
3,2020-05-15 00:00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0
4,2020-05-15 00:00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0

In [11]:
p1_sen.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0

In [12]:
p2_gen.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,2020-05-15 00:00:00,4136001,4UPUqMRk7TRMgml,0.0,0.0,9425.000000,2.429011e+06
1,2020-05-15 00:00:00,4136001,81aHJ1q11NBPMrL,0.0,0.0,0.000000,1.215279e+09
2,2020-05-15 00:00:00,4136001,9kRcWv60rDACzjR,0.0,0.0,3075.333333,2.247720e+09
3,2020-05-15 00:00:00,4136001,Et9kgGMDl729KT4,0.0,0.0,269.933333,1.704250e+06
4,2020-05-15 00:00:00,4136001,IQ2d7wF4YD8zU1Q,0.0,0.0,3177.000000,1.994153e+07

In [13]:
p2_sen.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4136001,iq8k7ZNt4Mwm3w0,27.004764,25.060789,0.0
1,2020-05-15 00:15:00,4136001,iq8k7ZNt4Mwm3w0,26.880811,24.421869,0.0
2,2020-05-15 00:30:00,4136001,iq8k7ZNt4Mwm3w0,26.682055,24.427290,0.0
3,2020-05-15 00:45:00,4136001,iq8k7ZNt4Mwm3w0,26.500589,24.420678,0.0
4,2020-05-15 01:00:00,4136001,iq8k7ZNt4Mwm3w0,26.596148,25.088210,0.0

### Define schema

In [14]:
table = instance.table(TABLE_ID)

if not table.exists():
    table.create()
else:
    print("ERROR: Table {} already exists".format(TABLE_ID))

In [15]:
GENERATION_CF_ID= 'generation'
generation_cf = table.column_family(GENERATION_CF_ID)
generation_cf.create()

In [16]:
SENSOR_CF_ID= 'weather_sensor'
sensor_cf = table.column_family(SENSOR_CF_ID)
sensor_cf.create()

In [ ]:
'''
ROW KEY: PLANT_ID;SOURCE_KEY;DATE_TIME
'''

### Inserting data (Point 1)

In [17]:
def insert_data(df, column_family, is_gen= True):
    rows= []
    for r in df.itertuples(index= False):
        #print(f'{r[1]};{r[2]};{r[0]}')
        row_key= f'{r[1]};{r[2]};{r[0]}'.encode()
        row= table.direct_row(row_key)
        if is_gen:
            #row.set_cell(column_family, 'DC_POWER', struct.pack('f', r[3]))
            #row.set_cell(column_family, 'AC_POWER', struct.pack('f', r[4]))
            row.set_cell(column_family, 'DAILY_YIELD'.encode(), str(r[5]))
            #row.set_cell(column_family, 'TOTAL_YIELD', struct.pack('f', r[6]))
        else:
            row.set_cell(column_family, 'AMBIENT_TEMPERATURE'.encode(), str(r[3]))
            #ow.set_cell(column_family, 'MODULE_TEMPERATURE', struct.pack('f', r[4]))
            #row.set_cell(column_family, 'IRRADIATION', struct.pack('f', r[5]))
        #row.commit()
        rows.append(row)
    return rows

In [18]:
table.mutate_rows(insert_data(p1_gen, GENERATION_CF_ID))
table.mutate_rows(insert_data(p1_sen, SENSOR_CF_ID, is_gen= False))
table.mutate_rows(insert_data(p2_gen, GENERATION_CF_ID))
table.mutate_rows(insert_data(p2_sen, SENSOR_CF_ID, is_gen= False))

[,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ...]

In [ ]:
'''
insert_data(p1_gen, GENERATION_CF_ID)
insert_data(p1_sen, SENSOR_CF_ID, is_gen= False)
insert_data(p2_gen, GENERATION_CF_ID)
insert_data(p2_sen, SENSOR_CF_ID, is_gen= False)
'''

In [19]:
def print_row(row):
    print("Reading data for {}:".format(row.row_key.decode('utf-8')))
    for cf, cols in sorted(row.cells.items()):
        print("Column Family {}".format(cf))
        for col, cells in sorted(cols.items()):
            for cell in cells:
                labels = " [{}]".format(",".join(cell.labels)) \
                    if len(cell.labels) else ""
                print(
                    "\t{}: {} @{}{}".format(col.decode('utf-8'),
                                            cell.value.decode('utf-8'),
                                            cell.timestamp, labels))
    print("")

### Point 2

In [23]:
rows= table.read_rows(filter_= row_filters.RowFilterChain(
            filters=[
                row_filters.RowKeyRegexFilter("4136001;\w+;2020-06-01 (0[6-9]|11|12):\d{2}:\d{2}".encode("utf-8")),
                row_filters.FamilyNameRegexFilter(SENSOR_CF_ID.encode()),                
            ]
        )
    )
for row in rows:
    print_row(row)

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 06:00:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 23.470155033333327 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 06:15:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 23.67332510344828 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 06:30:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 23.979217633333327 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 06:45:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 24.209690400000003 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 07:00:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 24.567252344827587 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 07:15:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 24.835614033333336 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 07:30:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 25.36163324137931 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 07:45:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 25.5112201 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 08:00:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 25.689117433333333 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 08:15:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 25.838382137931035 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 08:30:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 26.10598753333333 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 08:45:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 26.78541406896552 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 09:00:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 27.515931200000004 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 09:15:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 28.245770233333328 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 09:30:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 29.05904 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 09:45:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 29.394693966666665 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 11:00:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 30.165436866666667 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 11:15:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 30.59765 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 11:30:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 30.9631358 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 11:45:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 30.702194655172413 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 12:00:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 32.09725336666666 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 12:15:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 32.32455834482758 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 12:30:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 32.71362183333334 @2022-04-11 04:09:32.369000+00:00

Reading data for 4136001;iq8k7ZNt4Mwm3w0;2020-06-01 12:45:00:
Column Family weather_sensor
	AMBIENT_TEMPERATURE: 32.914065724137934 @2022-04-11 04:09:32.369000+00:00

### Point 3

In [21]:
#adLQvlD726eNBSB
row_key = "4135001;adLQvlD726eNBSB;2020-05-15 14:15:00"

row = table.read_row(row_key)
print_row(row)

Reading data for 4135001;adLQvlD726eNBSB;2020-05-15 14:15:00:
Column Family generation
	DAILY_YIELD: 4633.142857 @2022-04-11 04:09:05.835000+00:00

In [ ]:
table.delete()